@model Practica20250325.AppMVCImagenData.Models.Producto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Producto</h4>
<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductoId" />
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Descripcion" class="control-label"></label>
            <input asp-for="Descripcion" class="form-control" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
        <div class="form-group  col-md-2">
            <label asp-for="Precio" class="control-label"></label>
            <input asp-for="Precio" class="form-control" />
            <span asp-validation-for="Precio" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="file" class="control-label">Imagen</label>
           @*  <input asp-for="ImagenRuta" id="productImage" type="hidden" /> *@
            <div class="input-group">
                <input type="file" id="imageFile" name="file" class="form-control" />
                <div class="input-group-append">
                    <button class="btn btn-danger" type="button" onclick="resetInputFieldAndPreview('imageFile','imagePreview')">Quitar</button>
                </div>
            </div>
        </div>
        <div class="col-6">
           @*  @if (!string.IsNullOrEmpty(Model.ImagenRuta))
            {
                <div id="preview">
                    <img id="imagePreview" src="@Model.ImagenRuta" alt="Vista previa de la imagen" style="max-width: 200px; max-height: 200px;">
                </div>
            }
            else
            {
                <div id="preview" style="display: none;">
                    <img id="imagePreview" src="@Model.ImagenRuta" alt="Vista previa de la imagen" style="max-width: 200px; max-height: 200px;">
                </div>
            } *@
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    document.getElementById('imageFile').addEventListener('change', function (event) {
        const file = event.target.files[0];
        const preview = document.getElementById('preview');
        const imagePreview = document.getElementById('imagePreview');

        if (file) {
            const fileReader = new FileReader();

            fileReader.onload = function (e) {
                imagePreview.src = e.target.result;
                preview.style.display = 'block';
            };

            fileReader.readAsDataURL(file);
        } else {
            imagenPrevia.src = '#';
            preview.style.display = 'none';
        }
    });

    function resetInputFieldAndPreview(inputFileId, previewImageId) {
        resetInputField(inputFileId);
        const previewImage = document.getElementById(previewImageId);
        const preview = document.getElementById('preview');
        const inputImage = document.getElementById('productImage');
        if (previewImage) {
            previewImage.src = "#";
            preview.style.display = "none";
            inputImage.value = "";
        }
    }

    function resetInputField(inputFileId) {
        const inputFile = document.getElementById(inputFileId);
        if (inputFile) {
            const tempInputFile = document.createElement("input");
            tempInputFile.type = "file";
            tempInputFile.value = "";
            inputFile.value = tempInputFile.value;
            tempInputFile.remove();
        }
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}